<div class="login-container">
    <form appearance="fill" [formGroup]="loginForm" l class="login-form">
        <app-alert></app-alert>

        <mat-form-field>
            <mat-label for="username">{{ 'form.name' | translate }}</mat-label>
            <input matInput type="text" class="form-control" name="username" formControlName="username" aria-label="username" required/>
            <mat-error *ngIf="!isRequired.username.valid && isRequired.username.touched">{{ 'required.name' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="password">{{ 'form.password' | translate }}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"name="password" formControlName="password"aria-label="password" required/>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!isRequired.password.valid && isRequired.password.touched">
                <mat-error *ngIf="isRequired.password.errors.required">{{ 'required.password' | translate }}</mat-error>
                <mat-error *ngIf="isRequired.password.errors.minlength">{{ 'required.passwordLength' | translate }}</mat-error>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" (click)="onSubmit()">
            {{ 'Login' | translate }}
            <mat-icon *ngIf="loading"><mat-spinner color="accent" diameter="20"></mat-spinner></mat-icon>
        </button>
  </form>
</div>
