.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.mat-mdc-card {
    height: 40%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none !important;
}

.mat-mdc-card-content {
    font-size: 24px;
}
