<form appearance="fill" [formGroup]="form" class="form-container">
    <app-alert></app-alert>

    <mat-form-field>
        <mat-label for="username">{{ 'form.name' | translate }}</mat-label>
        <input matInput type="text" class="form-control" name="username" formControlName="username" aria-label="username" required/>
        <mat-error *ngIf="form.controls.username.invalid && form.controls.username.touched">{{ 'required.name' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="email">{{ 'form.email' | translate }}</mat-label>
        <input matInput type="email" class="form-control" name="email" formControlName="email" aria-label="email" required/>
        <mat-error *ngIf="form.controls.email.invalid && form.controls.email.touched">{{ 'required.email' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="password">{{ 'form.password' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"name="password" formControlName="password"aria-label="password" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.password.invalid && form.controls.password.touched">
            <mat-error *ngIf="form.controls.password.errors.required">{{ 'required.password' | translate }}</mat-error>
            <mat-error *ngIf="form.controls.password.errors.minlength">{{ 'required.passwordLength' | translate }}</mat-error>
        </mat-error>
    </mat-form-field>
</form>
