@import "../../styles/variables.scss";

.feedback__register-form {
  margin: 0;
}

.form-control {
  border-radius: 4px;
  width: calc(90% - 4px);
  height: 48px;
  padding: 0 5%;
  margin-bottom: 15px;
  border: 2px solid $input-border-color;
}

.form-control_message {
  height: 135px;
  padding-top: 10px;
}

.form-control:hover {
  border: 2px solid $hover-input-color;
}

.is-invalid {
  border: 2px solid $alert-error-color;
}

.invalid-feedback {
  display: flex;
  justify-content: center;
  margin: -8px 0 10px;
  font-size: 80%;
  color: $alert-error-color;
}

.btn-submit {
  width: 100%;
  height: 49px;
  margin-bottom: 15px;
  font-size: 16px;
	font-weight: 900;
  border-radius: 25px;
  background-color: $link-color;
  color: $home-text-color;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: $hover-link-color;
}
