@import "src/app/styles/variables";

.projects {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.projects__title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.projects__my-works {
  display: flex;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 10px;
  @include bordered($primary-gray, 2px);
}

.projects__my-works-reverse {
  @extend .projects__my-works;
  flex-direction: row-reverse;
  justify-content: center;
}

.projects__container {
  width: 48%;
  margin: 8px 1%;
  display: inline-block;
}

.projects__my-work_slide-name {
  display: flex;
  justify-content: center;
}

.projects__my-work_slide-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: $link-color;
}

.projects__my-work_slide-link:hover {
  color: $hover-link-color
}

.projects__my-work_description {
  opacity: 0.8;
  text-align: justify;
}

@media (max-width: 768px) {
  .projects__my-works-left,
  .projects__my-works-right {
    display: block;
    margin-top: 20px;
  }

  .projects__container {
    width: 100%;
    margin: 0;
    display: block;
  }
}
