<div class="projects">
	<div *ngFor="let slide of data, let e=even;">
		<div class="{{ e ? 'projects__my-works' : 'projects__my-works-reverse' }}">
			<article class="projects__container">
				<div>
					<h3 class="projects__my-work_slide-name">{{ slide.name | translate }}</h3>
					<a *ngIf="slide.link" class="projects__my-work_slide-link" href="{{ slide.link }}" target="_blank" rel="noopener">{{ slide.click | translate }}</a>
				</div>
				<p class="projects__my-work_description">&nbsp;{{ slide.description }}</p>
			</article>
            <app-image-slider [slides]="slide.images" class="projects__container"></app-image-slider>
		</div>
	</div>
</div>
