@import "../styles/variables.scss";

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  flex: 1 0 auto;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}
