<div class="app-container" [class.app-is-mobile]="isMobile()">
    <mat-toolbar color="primary">
        <button *ngIf="jwtService.isLoggedIn$ | async" mat-icon-button (click)="snav.toggle()" aria-label="Toggle menu">
            <mat-icon>menu</mat-icon>
        </button>
        <h1>{{ getTitle() | translate }}</h1>
        <ng-container *ngIf="!(jwtService.isLoggedIn$ | async)">
            <a mat-button routerLink="register">{{ 'SignUp' | translate }}</a>
            <a mat-button routerLink="login">{{ 'Login' | translate }}</a>
        </ng-container>
        <div class="user-profile">
            <change-language></change-language>
            <div *ngIf="jwtService.isLoggedIn$ | async">
                <a>{{ username }}</a>
                <a mat-button href (click)="logout()">{{ 'LogOut' | translate }}</a>
            </div>
        </div>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav
            #snav
            [mode]="isMobile() ? 'over' : 'side'"
            [fixedInViewport]="isMobile()"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="/home" routerLinkActive="active-link">{{ 'Home' | translate }}</a>
                <a mat-list-item routerLink="/projects">{{ 'Projects' | translate }}</a>
                <a mat-list-item routerLink="/contacts">{{ 'Contacts' | translate }}</a>
                <a mat-list-item routerLink="/feedback">{{ 'Feedback' | translate }}</a>
            </mat-nav-list>
        </mat-sidenav>

        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>
