<form
  class="feedback__register-form"
  [formGroup]="createMessageForm"
  (ngSubmit)="onSubmit()">  
    <textarea
      class="form-control form-control_message"
      type="text"
      formControlName="message"
      placeholder="{{ 'form.message' | translate }}"
      [ngClass]="{ 'is-invalid': !isRequired.message.valid && isRequired.message.touched }"
      aria-label="message"
    ></textarea>
    <span
      class="invalid-feedback"
      *ngIf="!isRequired.message.valid && isRequired.message.touched"
    >
      <span *ngIf="isRequired.message.errors.required">{{ 'required.message' | translate }}</span>
      <span *ngIf="isRequired.message.errors.minlength">{{ 'required.validMessage' | translate }}</span>
    </span>

    <button
      class="btn-submit"
      [disabled]="!createMessageForm.valid">
      {{ 'buttons.submit' | translate }}
    </button>
</form>