# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

last 2 Chrome version
last 1 Firefox version
last 1 Edge major versions
last 1 Safari major versions
Firefox ESR

# Angular supports IE 11 only as an opt-in. To opt-in, remove the 'not'
not IE 11
